
h1 {
  color: #00FFC6;
  font-family: 'Lobster', cursive;
  text-align: center;
  font-size: 6rem;
}

body {
  background-color: #393E46;
  margin: 0;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

.container {
  width: 70%;
  margin: auto;
  text-align: center;

}

.dice {
  text-align: center;
  display: inline-block;
  margin: 10px;
}

img {
  width: 80%;
}


footer {
  text-align: center;
  color: #fff;
  margin-top: 5%;

}
